.vscode
.DS_Store
__pycache__
**/*.pyc
.venv/
data*/
jobs/
wandb/
logs/
analysis/results/**/*.jsonl
alpha_adjusting/results/
alpha_model/collected_alpha_records
STDIN.o*
checkpoints/
alpha_model/alpha_dataset_001.h5
train_alpha_h200.pbs.o167832251
debug_h100_flash.pbs.o*